.ImageSlide {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(146deg, #4a4b6c, #343547);
  display: flex !important;
  flex-direction: row;
  justify-content: center;
}

.ImageSlide .ImageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ImageSlide .ImageWrapper > img {
  max-width: 100%;
}
